@import "bootstrap/scss/bootstrap";

.movie-img {
    width: 10rem;
}

.actor-img {
    height: 8rem;
    width: auto;
}

.poster-img {
    width: 10rem;
}

.center-block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    > * {
        padding: 1rem;
    }
    ul {
        padding-bottom: 0;
        padding-top: 0;
    }
}

.movieContainer {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    .actors {
        width: 100%;
    }
    > * {
        flex: 1;
        padding: 0.5rem;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    p {
        padding: 1rem;
    }
    .miscContainer {
        width: 100%;
        padding: 0;
        padding-top: 1rem;
        > li {
            display: flex;
            width: 100%;
            padding: 1rem;
            > span {
                flex: 1;
            }
            :nth-child(1) {
                text-align: left;
            }
            :nth-child(2) {
                text-align: right;
            }
        }
    }
}

.popular-period {
    margin: 0 2rem;
}

.pagination {
    margin: 0 4rem;
}

@media all and (min-width: 750px) {
    /* CSS rules here for screens bigger than 750px */
    .movieContainer {
        flex-direction: row;
        > * {
            padding: 2rem;
        }
    }
    .center-block {
        flex-direction: row;
    }
}

img {
    max-width: 100%;
    max-height: 500px;
}

ul {
    list-style: none;
}

.poster-list {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-flow: row wrap;
}
