@import "bootstrap/scss/bootstrap";

.movie-img {
    width: 7rem;
}

.poster-img {
    width: 10rem;
}

.center-block {
    display: flex;
    justify-content: center;
}

.movieContainer {
    margin-top: 2rem;
    display: flex;
    width: 100%;
    > * {
        flex: 1;
    }
    .miscContainer {
        list-style: none;
        padding: 0;
        padding-top: 1rem;
        > li {
            display: flex;
            width: 100%;
            max-width: 500px;
            padding: 1rem;
            > span {
                flex: 1;
            }
            :nth-child(1) {
                text-align: left;
            }
            :nth-child(2) {
                text-align: right;
            }
        }
    }
}
