@import "bootstrap/scss/bootstrap";

.movie-img {
    width: 7rem;
}

.center-block {
    display: flex;
    justify-content: center;
}

.movieContainer {
    margin-top: 2rem;
    display: flex;
    width: 100%;
    > * {
        flex: 1;
    }
}
